venv
static

project/__pycache__
coreauth/__pycache__
coreauth/migrations/__pycache__
pygithub/__pycache__
pygithub/migrations/__pycache__
pygitlab/__pycache__
pygitlab/migrations/__pycache__
pyslack/__pycache__
pyslack/migrations/__pycache__
pyjira/__pycache__
pyjira/migrations/__pycache__
pytrello/__pycache__
pytrello/migrations/__pycache__
pychatwork/__pycache__
pychatwork/migrations/__pycache__
pyredmine/__pycache__
pyredmine/migrations/__pycache__
pybacklog/__pycache__
pybacklog/migrations/__pycache__
pyconfluence/__pycache__
pyconfluence/migrations/__pycache__
pyazureboard/__pycache__
pyazureboard/migrations/__pycache__

dbanalysis/__pycache__
dbanalysis/migrations/__pycache__
# dbanalysis/tool_indices.py

.env
.env.pg
.env.my
.env.server
~$*
~*

db.sqlite3